@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
a, a:hover {
  text-decoration: none;
  color: #fff; }

header {
  background-color: #487B2F; }
  header section.ad, header section.navbar {
    height: 55px; }
    header section.ad nav li, header section.navbar nav li {
      text-transform: uppercase;
      padding: 0 20px;
      display: flex;
      align-items: center; }
    header section.ad.ad, header section.navbar.ad {
      border-bottom: .5px solid #FFFFFF; }
      header section.ad.ad nav ul li a, header section.navbar.ad nav ul li a {
        color: #fff; }
      header section.ad.ad nav ul li select, header section.ad.ad nav ul li input, header section.ad.ad nav ul li select:focus, header section.ad.ad nav ul li input:focus, header section.navbar.ad nav ul li select, header section.navbar.ad nav ul li input, header section.navbar.ad nav ul li select:focus, header section.navbar.ad nav ul li input:focus {
        background-color: transparent;
        border: none;
        outline: none;
        text-transform: uppercase;
        color: #fff; }
      header section.ad.ad nav ul li option, header section.navbar.ad nav ul li option {
        background-color: var(--blue); }
      header section.ad.ad nav ul li input, header section.navbar.ad nav ul li input {
        line-height: 55px; }
      header section.ad.ad nav ul li ::placeholder, header section.navbar.ad nav ul li ::placeholder {
        color: #fff; }
      header section.ad.ad nav ul li.home img, header section.navbar.ad nav ul li.home img {
        vertical-align: -2px; }
      header section.ad.ad nav ul li.weather, header section.navbar.ad nav ul li.weather {
        border-right: .5px solid #FFFFFF;
        border-left: .5px solid #FFFFFF; }
        header section.ad.ad nav ul li.weather img, header section.navbar.ad nav ul li.weather img {
          vertical-align: -5px; }
      header section.ad.ad nav ul li.lang, header section.navbar.ad nav ul li.lang {
        border-right: .5px solid #FFFFFF; }
      header section.ad.ad nav ul li span.current-weather, header section.navbar.ad nav ul li span.current-weather {
        padding: 0 10px; }
  header section.logo a {
    display: inline-block;
    transform: translateY(10px); }
  header section {
    animation-name: animated-header;
    animation-duration: .75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; }
@keyframes animated-header {
  from {
    transform: translateY(-500px); }
  to {
    transform: translateY(0); } }
main section h3 {
  text-transform: uppercase;
  color: #002C7A;
  font-size: 22px;
  letter-spacing: 2.2px; }
  main section h3::before, main section h3::after {
    content: '';
    display: inline-block;
    width: 60px;
    height: 1px;
    background-color: #002C7A;
    vertical-align: 6px;
    margin: 0 50px; }
main section span.current-date {
  font-size: 12px;
  letter-spacing: 0.6px;
  color: #7B7B7B; }
main section button.section-btn, main section button.section-btn:focus {
  width: 172px;
  height: 36px;
  border-radius: 24px;
  text-transform: uppercase;
  background-color: transparent;
  outline: none;
  font-size: 12px;
  font-weight: 600; }
main section.article, main section.products, main section.news {
  padding: 100px 0; }
main section.article, main section.products {
  background-color: #F5F5F5; }
main section.slider {
  overflow: hidden; }
  main section.slider .left-side-msg, main section.slider .right-side-msg {
    transition: transform .75s; }
  main section.slider .left-side-msg {
    background-color: rgba(72, 123, 47, 0.5);
    width: 80%;
    border-radius: 120px;
    height: 241px;
    top: 30%;
    left: -20%;
    animation-name: animated-slider-left;
    animation-duration: .75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; }
    main section.slider .left-side-msg p, main section.slider .left-side-msg h5 {
      color: #fff;
      padding: 30px 100px 0 0; }
    main section.slider .left-side-msg p {
      font-size: 40px; }
    main section.slider .left-side-msg h5 {
      font-size: 59px; }
@keyframes animated-slider-left {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0); } }
  main section.slider .right-side-msg {
    background-color: rgba(0, 44, 122, 0.7);
    width: 80%;
    border-radius: 120px;
    height: 90px;
    top: 80%;
    right: -20%;
    animation-name: animated-slider-right;
    animation-duration: .75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; }
    main section.slider .right-side-msg p {
      padding: 25px 0 0 50px;
      color: #fff;
      font-size: 22px; }
    main section.slider .right-side-msg ul {
      right: 30%;
      top: 40px; }
      main section.slider .right-side-msg ul li {
        height: 10px;
        width: 10px;
        border: 1px solid #fff;
        margin: 2px;
        border-radius: 50%; }
        main section.slider .right-side-msg ul li.active {
          background-color: #fff; }
@keyframes animated-slider-right {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }
main section.products .pro-wrapper .pro-img div {
  height: 334px !important;
  width: 334px !important;
  border: 1px solid #002C7A;
  padding: 20px;
  border-radius: 50%;
  width: 100%;
  height: 100%; }
  main section.products .pro-wrapper .pro-img div img {
    width: 100%;
    height: 100%;
    border-radius: 50%; }
main section.products .pro-wrapper h5 {
  text-transform: uppercase;
  color: #002C7A;
  font: 25px;
  letter-spacing: 1.25px;
  font-weight: 700; }
main section.article .left-article > div:last-child, main section.article .right-article > div > div:last-child {
  width: 270px; }
main section.article .article-link {
  color: #487B2F;
  font-size: 16px;
  text-decoration: underline; }
main section.article .article-content {
  font-size: 14px;
  letter-spacing: 0.7px;
  color: #363435; }
main section.article button.all-articles, main section.article button.all-articles:focus {
  right: 60px;
  bottom: 35px;
  border: 1px solid #487B2F;
  color: #487B2F; }
main section.news .news-pagination li {
  margin: 0 10px; }
main section.news .single-news {
  width: 250px; }
  main section.news .single-news .news-image {
    width: 100%;
    height: 315px; }
    main section.news .single-news .news-image img:first-child {
      height: 100%;
      width: 100%; }
    main section.news .single-news .news-image .hover-effect {
      width: 160px;
      height: 270px;
      left: 45px;
      top: 22.5px;
      transform: scale(0);
      transition: transform .4s;
      cursor: pointer; }
      main section.news .single-news .news-image .hover-effect .zoom {
        width: 32px;
        height: 32px;
        left: 64px;
        top: 119px; }
    main section.news .single-news .news-image:hover .hover-effect {
      transform: scale(1); }
  main section.news .single-news .news-content .news-title a {
    letter-spacing: 0.7px;
    color: #002C7A;
    font-size: 14px; }
  main section.news .single-news .news-content p {
    letter-spacing: 0.6px;
    color: #363435;
    font-size: 12px; }
main section.news button.all-news, main section.news button.all-news:focus {
  left: calc(50% - 86px);
  bottom: 50px;
  border: 1px solid #002C7A;
  color: #002C7A; }

footer {
  background-color: #002C7A; }
  footer > section, footer > div {
    padding: 0 130px !important; }
  footer li a {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.2px; }
  footer p, footer span {
    color: #fff; }
  footer hr {
    background-color: #fff; }

/*# sourceMappingURL=style.css.map */
