@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
a, a:hover {
  text-decoration: none;
  color: #fff; }

header {
  background-color: #487B2F; }
  header section.ad, header section.navbar {
    height: 55px; }
    header section.ad nav li, header section.navbar nav li {
      text-transform: uppercase;
      padding: 0 20px;
      display: flex;
      align-items: center; }
    header section.ad.ad, header section.navbar.ad {
      border-bottom: .5px solid #FFFFFF; }
      header section.ad.ad nav ul li a, header section.navbar.ad nav ul li a {
        color: #fff; }
      header section.ad.ad nav ul li select, header section.ad.ad nav ul li input, header section.ad.ad nav ul li select:focus, header section.ad.ad nav ul li input:focus, header section.navbar.ad nav ul li select, header section.navbar.ad nav ul li input, header section.navbar.ad nav ul li select:focus, header section.navbar.ad nav ul li input:focus {
        background-color: transparent;
        border: none;
        outline: none;
        text-transform: uppercase;
        color: #fff; }
      header section.ad.ad nav ul li option, header section.navbar.ad nav ul li option {
        background-color: var(--blue); }
      header section.ad.ad nav ul li input, header section.navbar.ad nav ul li input {
        line-height: 55px; }
      header section.ad.ad nav ul li ::placeholder, header section.navbar.ad nav ul li ::placeholder {
        color: #fff; }
      header section.ad.ad nav ul li.home img, header section.navbar.ad nav ul li.home img {
        vertical-align: -2px; }
      header section.ad.ad nav ul li.weather, header section.navbar.ad nav ul li.weather {
        border-right: .5px solid #FFFFFF;
        border-left: .5px solid #FFFFFF; }
        header section.ad.ad nav ul li.weather img, header section.navbar.ad nav ul li.weather img {
          vertical-align: -5px; }
      header section.ad.ad nav ul li.lang, header section.navbar.ad nav ul li.lang {
        border-right: .5px solid #FFFFFF; }
      header section.ad.ad nav ul li span.current-weather, header section.navbar.ad nav ul li span.current-weather {
        padding: 0 10px; }
  header section.logo a {
    display: inline-block;
    transform: translateY(10px); }
  header section {
    transform: translateY(-500px); }
    header section.animated {
      animation-name: animated-header;
      animation-duration: .75s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards; }
@keyframes animated-header {
  from {
    transform: translateY(-500px); }
  to {
    transform: translateY(0); } }
main section.slider {
  overflow: hidden; }
  main section.slider .left-side-msg, main section.slider .right-side-msg {
    transition: transform .75s; }
  main section.slider .left-side-msg {
    background-color: rgba(72, 123, 47, 0.5);
    width: 80%;
    border-radius: 120px;
    height: 241px;
    top: 30%;
    left: -20%;
    transform: translateX(-100%); }
    main section.slider .left-side-msg p, main section.slider .left-side-msg h5 {
      color: #fff;
      padding: 30px 100px 0 0; }
    main section.slider .left-side-msg p {
      font-size: 40px; }
    main section.slider .left-side-msg h5 {
      font-size: 59px; }
@keyframes animated-slider-left {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0); } }
    main section.slider .left-side-msg.animated {
      animation-name: animated-slider-left;
      animation-duration: .75s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards; }
  main section.slider .right-side-msg {
    background-color: rgba(0, 44, 122, 0.7);
    width: 80%;
    border-radius: 120px;
    height: 90px;
    top: 80%;
    right: -20%;
    transform: translateX(100%); }
    main section.slider .right-side-msg p {
      padding: 25px 0 0 50px;
      color: #fff;
      font-size: 22px; }
    main section.slider .right-side-msg ul {
      right: 30%;
      top: 40px; }
      main section.slider .right-side-msg ul li {
        height: 10px;
        width: 10px;
        border: 1px solid #fff;
        margin: 2px;
        border-radius: 50%; }
        main section.slider .right-side-msg ul li.active {
          background-color: #fff; }
@keyframes animated-slider-right {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }
    main section.slider .right-side-msg.animated {
      animation-name: animated-slider-right;
      animation-duration: .75s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards; }

/*# sourceMappingURL=style.css.map */
