main {
  section {
    h3 {
      text-transform: uppercase;
      font-size: 22px;
      letter-spacing: 2.2px;

      &::before, &::after {
        content: '';
        display: inline-block;
        width: 60px;
        height: 1px;
        vertical-align: 6px;
        margin: 0 50px;
      }
    }

    span.current-date {
      font-size: 12px;
      letter-spacing: 0.6px;
      color: #7B7B7B;
    }

    button.section-btn, button.section-btn:focus {
      width: 172px;
      height: 36px;
      border-radius: 24px;
      text-transform: uppercase;
      background-color: transparent;
      outline: none;
      font-size: 12px;
      font-weight: 600;
    }

    &.article, &.products, &.news, &.partners {
      padding: 100px 0;
    }

    &.article, &.products {
      background-color: #F5F5F5;
    }
  }

  section.slider {
    overflow: hidden;

    .left-side-msg, .right-side-msg {
      transition: transform .75s;
    }

    .left-side-msg {
      background-color: rgba(72, 123, 47, .5);
      width: 80%;
      border-radius: 120px;
      height: 241px;
      top: 30%;
      left: -20%;
      animation-name: animated-slider-left;
      animation-duration: .75s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;

      p, h5 {
        color: #fff;
        padding: 30px 100px 0 0;
      }

      p {
        font-size: 40px;
      }
      h5 {
        font-size: 59px;
      }

      @keyframes animated-slider-left {
        from {
          transform: translateX(-100%);
        } to {
          transform: translateX(0);
        }
      }
    }

    .right-side-msg {
      background-color: rgba(0, 44, 122, .7);
      width: 80%;
      border-radius: 120px;
      height: 90px;
      top: 80%;
      right: -20%;
      animation-name: animated-slider-right;
      animation-duration: .75s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;

      p {
        padding: 25px 0 0 50px;
        color: #fff;
        font-size: 22px;
      }

      ul {
        right: 30%;
        top: 40px;

        li {
          height: 10px;
          width: 10px;
          border: 1px solid #fff;
          margin: 2px;
          border-radius: 50%;

          &.active {
            background-color: #fff;
          }
        }
      }

      @keyframes animated-slider-right {
        from {
          transform: translateX(100%);
        } to {
          transform: translateX(0);
        }
      }
    }
  }

  section.products {
    h3 {
      color: #002C7A;

      &::before, &::after {
        background-color: #002C7A;
      }
    }

    .pro-wrapper {
      .pro-img {
        div {
          height: 334px !important;
          width: 334px !important;
          border: 1px solid #002C7A;
        padding: 20px;
          border-radius: 50%;
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }

      h5 {
        text-transform: uppercase;
        color: #002C7A;
        font: 25px;
        letter-spacing: 1.25px;
        font-weight: 700;
      }
    }
  }

  section.article {
    h3 {
      color: #487B2F;

      &::before, &::after {
        background-color: #487B2F;
      }
    }

    .left-article > div:last-child, .right-article > div > div:last-child {
      width: 270px;
    }

    .article-link {
      color: #487B2F;
      font-size: 16px;
      text-decoration: underline;
    }

    .article-content {
      font-size: 14px;
      letter-spacing: 0.7px;
      color: #363435;
    }

    button.all-articles, button.all-articles:focus {
      right: 60px;
      bottom: 35px;
      border: 1px solid #487B2F;
      color: #487B2F;
    }
  }

  section.news {
    h3 {
      color: #002C7A;

      &::before, &::after {
        background-color: #002C7A;
      }
    }

    .news-pagination {
      li {
        margin: 0 10px;
      }
    }

    .single-news {
      width: 250px;

      .news-image {
        width: 100%;
        height: 315px;
        img:first-child {
          height: 100%;
          width: 100%;
        }

        .hover-effect {
          width: 160px;
          height: 270px;
          left: 45px;
          top: 22.5px;
          transform: scale(0);
          transition: transform .4s;
          cursor: pointer;

          .zoom {
            width: 32px;
            height: 32px;
            left: 64px;
            top: 119px;
          }
        }

        &:hover .hover-effect {
          transform: scale(1);
        }
      }

      .news-content {
        .news-title {
          a {
            letter-spacing: 0.7px;
            color: #002C7A;
            font-size: 14px;
          }
        }
  
        p {
          letter-spacing: 0.6px;
          color: #363435;
          font-size: 12px;
        }
      }
    }

    button.all-news, button.all-news:focus {
      left: calc(50% - 86px);
      bottom: 50px;
      border: 1px solid #002C7A;
      color: #002C7A;
    }
  }

  section.farmers {
    background-color: #487B2F;
    h3 {
      color: #fff;

      &::before, &::after {
        background-color: #fff;
      }
    }

    .section-btn, .section-btn:focus {
      border: 1px solid #5DA23B;
      border-radius: 30px;
      height: 66px;
      color: #fff;
      font-size: 16px;
    }
  }

  section.partners {
    h3 {
      color: #002C7A;

      &::before, &:after {
        background-color: #002C7A;
      }
    }

    .partner-logo {
      width: 200px;
      height: 40px;

      img {
        width: 100%;
      }
    }

    span {
      top: 52%;
    }

    .chevron-left {
      left: 50px;
    }

    .chevron-right {
      right: 50px;
    }
  }
}