main {
  section.slider {
    overflow: hidden;

    .left-side-msg, .right-side-msg {
      transition: transform 1s;
    }

    .left-side-msg {
      background-color: rgba(72, 123, 47, .5);
      width: 80%;
      border-radius: 120px;
      height: 241px;
      top: 30%;
      left: -20%;
      transform: translateX(-100%);

      p, h5 {
        color: #fff;
        padding: 30px 100px 0 0;
      }

      p {
        font-size: 40px;
      }
      h5 {
        font-size: 59px;
      }
    }

    .right-side-msg {
      background-color: rgba(0, 44, 122, .7);
      width: 80%;
      border-radius: 120px;
      height: 90px;
      top: 80%;
      right: -20%;
      transform: translateX(100%);

      p {
        padding: 25px 0 0 50px;
        color: #fff;
        font-size: 22px;
      }

      ul {
        right: 30%;
        top: 40px;

        li {
          height: 10px;
          width: 10px;
          border: 1px solid #fff;
          margin: 2px;
          border-radius: 50%;

          &.active {
            background-color: #fff;
          }
        }
      }
    }
  }
}